.containerExploration {
    display: block;
    width: 100%;
    height: 100vh;
  }
  
  .titleExploration {
    margin-top: 55px;
    padding: 20px;
  }
  
  .titleh1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 8px;
  }
  
  .titlep {
    margin: 8px;
    font-size: 16px;
    color: #4d4a4a;
  }
  
  .bodyExploration {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: flex-start;

  }

  .bodyLeftTop, .bodyLeftBottom{
    margin: 20px 30px !important;
  }
  
  .bodyExploration {
    display: flex;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .centerView {
    justify-content: center;  /* Căn giữa khi chưa có dữ liệu */
    align-items: center;
  }
  
  .splitView {
    justify-content: space-between; /* Căn 2 bên khi có dữ liệu */
    align-items: flex-start;
    gap: 40px;
  }
  
  .bodyLeft {
    width: 50%;  /* Khi ở chế độ 2 cột */
    max-width: 420px;
    transition: width 0.3s ease-in-out;
  }
  
  .centerView .bodyLeft {
    width: 100%;  /* Khi chưa chọn vị trí, bodyLeft mở rộng */
    max-width: 500px;
  }
  
  .bodyRight {
    width: 80%;
    margin:30px;
    transition: opacity 0.3s ease-in-out;
  }
  .bodyRightTop, .bodyRightBottom {
    margin-bottom: 20px !important;
  }
  
  .centerView .bodyRight {
    display: none; /* Ẩn phần này khi chưa có dữ liệu */
  }
  