/* Layout chính */
.resetContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/Img/bground4.jpg'); /* Đường dẫn ảnh */
    background-size: cover; /* Phủ kín màn hình */
    background-position: center; /* Căn giữa */
    background-repeat: no-repeat; /* Không lặp lại */
}
.pageLeft {
    position: relative;
    width: 50%;  /* Đảm bảo phần chứa ảnh chiếm đủ 50% */
    height: 100vh;
    display: flex;
    background-image: url('../../../assets/Img/bgleft.jpg'); /* Đường dẫn ảnh */
    background-size: 100% 100%;
    background-position: center; /* Căn giữa */
    background-repeat: no-repeat; /* Không lặp lại */
}
.pageRight {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;    
    height: 100%;
}
.resetContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Khung chứa form */
.formReset {
    width: 100%;
    max-width: 300px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(200, 200, 200, 0.3);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

/* Tiêu đề */
.formResetTitle h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Input */
.ant-input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.ant-input:focus {
    border-color: #1890ff;
    box-shadow: 0 0 5px rgba(24, 144, 255, 0.3);
}

/* Button */
.ant-btn-primary {
    width: 100%;
    background-color: #007bff;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.ant-btn-primary:hover {
    background-color: #0056b3;
}

/* Hiệu ứng fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .pageLeft {
        display:none;
    }
    .resetContainer {
        padding: 10px;
    }

    .formReset {
        width: 300px;
        max-width: 60%;
    }
    .pageRight {
        width:100%;
    }
}
