.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo chiều cao ít nhất bằng màn hình */
}

.homeBody {
    margin: 10px auto 0; 
    display: flex;
    align-items: flex-start; /* Để các phần tử nằm trên cùng một hàng */
    gap: 20px; /* Khoảng cách giữa các phần */
    max-width: 1400px;
    width:80%;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
  }
  
  .stickyExplore {
    position: sticky;
    top: 55px; /* Ngay dưới Header */
    z-index: 100;
    width: 200px; /* Hoặc auto nếu muốn linh hoạt */
  }
  .homeBodyRightContainer {
    display:flex;
    width: 100%;
    max-width: 100%;
  }
  